<div>
	<nav class="nav navbar-nav navbar-default">
		<li ng-repeat="(partitionname, partition) in schema"><a href="" ng-click="tabChanged(partitionname)">{{partitionname}}</a></li>
	</nav>

	<div id="{{partitionname}}" class="partitionTable hidden" ng-repeat="(partitionname, partition) in schema">
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th ng-repeat="(key, value) in partition | metaFilter">{{key}}</th>
			</tr>
			<tr ng-repeat="n in enumerate(partition.meta.enumerate) track by $index">
				<td ng-repeat="(key, value) in partition | metaFilter"></td>
			</tr>
		</table>
	</div>
</div>